{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/jobsCreator.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="{% static 'js/allJobsCreator.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Big Box      Creator</title>
  <style>
    .chosen {
      background-color: white; /* Blue */
      border: solid;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      height: 50px;
      width: 100%;
    }

    .typeOfJob {
      background-color: #008CBA; /* Blue */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      height: 50px;
      width: 90%;
    }

  </style>
eeep
  </head>
  <body>
  

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" content="width=device-width" style="height:8vw;">
    <img src="{% static 'images/logo2.PNG' %}" style="max-height:100%;max-width:100%;">
          
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style="font-size:16px">
          <a class="nav-link" style="font-size: 200%; padding-left: 20%" href="/home_creator">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
                <a class="nav-link" style="font-size: 300%; padding-left: 280%" href="#">Creator<span class="sr-only">(current)</span></a> 
        </li>
      </ul>
      {% if request.user.profile.isNotified %}
        <a href="/all_jobs_seeker/accepted_jobs/" style=" width:8%;"><img src="{% static 'images/noteRed.png' %}" style="height:50%;width:50%;"></a>
      {% endif %}
      <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" style="max-height:200%;max-width:200; font-size:16px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.username }}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size:16px">
                        <a class="dropdown-item" href="/profile/?username={{ request.user.username }}">Account</a>
                        <a class="dropdown-item" href="/login">Sign Out</a>
                      </div>
                    </div>
    </div>
  </nav>

  <form name="filter" id="filter" method="GET">
  
  
  <div class="padding" style="padding-top: 9%"></div>

  <div id="main">
    <div class="col-sm-2">
          <div class="row-offcanvas row-offcanvas-left" id="sidebar">
            <div id="sidebar" class="sidebar-offcanvas">
                <div class="col-md-12">
                      
                        <ul class="nav nav-pills nav-stacked">
                            <li id="li"><button class="hidden" type="submit" name="apply" value="apply" style="display:none">Hidden</button></li>
                            {% if typeOfJob == 'all_jobs' %}
                            <li id="li"><button class="chosen" type="submit" name="all_jobs" value="all_jobs" style="font-size: 15px">All</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="accepted_jobs" value="accepted_jobs">Accepted</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="pending_jobs" value="pending_jobs">Pending</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="past_jobs" value="past_jobs">Past</button></li>
                            {% elif typeOfJob == 'accepted_jobs' %}
                            <li id="li"><button class="typeOfJob" type="submit" name="all_jobs" value="all_jobs">All</button></li>
                            <li id="li"><button class="chosen" type="submit" name="accepted_jobs" value="accepted_jobs" style="font-size: 15px">Accepted</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="pending_jobs" value="pending_jobs">Pending</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="past_jobs" value="past_jobs">Past</button></li>
                            {% elif typeOfJob == 'pending_jobs' %}
                            <li id="li"><button class="typeOfJob" type="submit" name="all_jobs" value="all_jobs">All</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="accepted_jobs" value="accepted_jobs">Accepted</button></li>
                            <li id="li"><button class="chosen" type="submit" name="pending_jobs" value="pending_jobs" style="font-size: 15px">Pending</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="past_jobs" value="past_jobs">Past</button></li>
                            {% elif typeOfJob == 'past_jobs' %}
                            <li id="li"><button class="typeOfJob" type="submit" name="all_jobs" value="all_jobs">All</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="accepted_jobs" value="accepted_jobs">Accepted</button></li>
                            <li id="li"><button class="typeOfJob" type="submit" name="pending_jobs" value="pending_jobs">Pending</button></li>
                            <li id="li"><button class="chosen" type="submit" name="past_jobs" value="past_jobs" style="font-size: 15px">Past</button></li>
                            {% endif %}

                            <li id="li" style="padding-top: 10%;">
                                <div class="form-group">
                                      <label for="zipcode" id="zipCodeText">Max Distance (mi)</label>
                                      <input class="textInput" name="zip_code" type="number" id="zip_code" min="0"/>
                                </div>
                            </li>
                            <li id="li">
                              <div class="form-group">
                                <label for="jobtype" id="jobTypeText">Job Type</label>
                                {{ form.job_type }}
                              </div>
                            </li>
                            <li id="li">
                              <div class="form-group">    
                                    <label for="minimumWage" id="minimumWageText">Minimum Wage</label>
                                    <input name="min_wage" class="textInput" type="number" id="minimumWage" min="0" data-bind="value:replyNumber"/>
                              </div>
                          </li>
                          <li id="li">
                            <div class="form-group">    
                                  <label for="maximumWage" id="maximumWageText">Maximum Wage</label>
                                  <input name="max_wage" class="textInput" type="number" id="maximumWage" min="0" data-bind="value:replyNumber"/>
                            </div>
                          </li>
                          <li id="li">
                            <div style="float: left; padding-top: 5%; padding-left: 5%">
                              <a>
                                <button type="submit" value="apply" name="apply" style="height: 200%">
                                  Apply
                                </button>
                              </a>
                            </div>
                            <div style="float: right; padding-top: 5%; padding-right: 5%">
                              <a>
                                <button type="reset" value="Reset" style="height: 200%">
                                  Reset
                                </button>
                              </a>
                            </div>
                          </li>


                        </ul>
                      
                </div>
              </div>
        
              
          </div>
      </div>
    <div class="col-sm-10">
      <div class="row d-flex justify-content-center" style="width:100%;">
            <div class="form-group" style="width:100%;">
              <input type="text" name="search" id="search" placeholder="Search Description">
            </div>
      </div>  
       
        {% for post in jobs %}
          
        <div class="row d-flex justify-content-center" style="padding-top: 0.5%;">
          <div class = "col-sm-10">
          
            <div class="well" id="job" style="height: 100%; width: 100%;">
              <div class="col-sm-11">
                  <a href="/one_job_creator/{{post.id}}/">
              <div class="col-sm-2" style="padding-bottom: 3%;">
                {% if post.JobType == 'LM' %}
                  <img src="{% static 'images/Work Icons/lawn_care.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'SS' %}
                  <img src="{% static 'images/Work Icons/snow_shoveling.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'DW' %}
                  <img src="{% static 'images/Work Icons/dog_walking.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'PS' %}
                  <img src="{% static 'images/Work Icons/pet_care.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'BS' %}
                  <img src="{% static 'images/Work Icons/baby_sitting.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'C' %}
                  <img src="{% static 'images/Work Icons/cleaning.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'M' %}
                  <img src="{% static 'images/Work Icons/manual_labor.jpg' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'O' %}
                  <img src="{% static 'images/Work Icons/other.PNG' %}" style="max-height:100%;max-width:100%;">
                {% endif %}
              </div>
              <div class="col-sm-2" style="">
              {% if post.JobType == 'LM' %}
                <p>Lawn-Mowing</p>  
              {% elif post.JobType == 'SS' %}
                <p>Snow-Shoveling</p>  
              {% elif post.JobType == 'DW' %}
                <p>Dog-Walking</p>  
              {% elif post.JobType == 'PS' %}
                <p>Pet-Sitting</p>  
              {% elif post.JobType == 'BS' %}
                <p>Baby-Sitting</p>  
              {% elif post.JobType == 'C' %}
                <p>Cleaning</p>  
              {% elif post.JobType == 'M' %}
                <p>Moving</p>  
              {% elif post.JobType == 'O' %}
                <p>Other</p>  
              {% endif %}
              </div>
              <div class="col-sm-4" style="">
                  <p>{{ post.Description }}</p>
              </div>              
              <div class="col-sm-1" style="">
                  <p>Pay: {{ post.Pay }}</p>
              </div>
              <div class="col-sm-2">
                <p>Zip: {{ post.ZipCode }}</p>
              </div>

            </div>
              <div class="col-sm-1" style="">
                  <a href="../../profile/?username={{post.userName}}"><p>{{ post.userName }}</p></a>
              </div>
          </div>
          </a>
        </div>
          <div class="col-sm-2" style="width:100%;">
                <a href="/delete_job/{{post.id}}/">
                  Delete Job
                </a>
          </div>
      </div>
    
        {% endfor %}

    
    </div>
</div>
</form>


  



           <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
    var distance = document.getElementById("distance").value
    
    
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
  
 