{% load staticfiles %}
<!doctype html>
<html lang="en">
<style>
div.job{
  background-color:#21CE2D;
  height:2000px;
  width:2000px;
  border:5px solid #07680D;
  float:left;
  margin:10px;
}
.button{

}
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    <title>Big Box      Creator</title>

</head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" content="width=device-width" style="height:8vw;">
                <img src="{% static 'images/logo2.PNG' %}" style="max-height:100%;max-width:100%;">
              
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" style="font-size: 200%; padding-left: 20%" href="/home_seeker/">Home<span class="sr-only">(current)</span></a> 
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="font-size: 200%; padding-left: 310%" href="#">Creator<span class="sr-only">(current)</span></a> 
                    </li>
                  </ul>
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" style="max-height:200%;max-width:200%; font-size:16px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.username }}
                      </button> 
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size:16px">
                        <a class="dropdown-item" href="/profile/?username={{ request.user.username }}">Account</a>
                        <a class="dropdown-item" href="/login">Sign Out</a>
                      </div>
                    </div>
                </div>
          </nav>
          <div class="padding" style="padding-top: 9%"></div>
          <div id="container">

        <div class="col-sm-3" style="">
        {%for seeker in interested_seekers%}
        <div>
        <a class="button" href= '/profile?username={{seeker.username}}'>
          Visit Profile Page
        </a>
        <p></p>
        <a class="button" href= '/hire_seeker/{{post.id}}/{{seeker.id}}/{{request.user.id}}'>
          Hire this seeker:
        </a>
        {{seeker.first_name}}
        {{seeker.last_name}}
        </div>
        {%endfor%}
              <p></p>
              <a href='/all_jobs_creator/all_jobs/'>Back to all jobs</a>
              
              <!-- </div> -->
            </div>
              <div class="row d-flex justify-content-center">
          <div class="well" id="job">
              <div class="col-sm-2" style="">
                {% if post.JobType == 'LM' %}
                  <img src="{% static 'images/Work Icons/lawn_care.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'SS' %}
                  <img src="{% static 'images/Work Icons/snow_shoveling.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'DW' %}
                  <img src="{% static 'images/Work Icons/dog_walking.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'PS' %}
                  <img src="{% static 'images/Work Icons/pet_care.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'BS' %}
                  <img src="{% static 'images/Work Icons/baby_sitting.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'C' %}
                  <img src="{% static 'images/Work Icons/cleaning.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'M' %}
                  <img src="{% static 'images/Work Icons/manual_labor.PNG' %}" style="max-height:100%;max-width:100%;">
                {% elif post.JobType == 'O' %}
                  <img src="{% static 'images/Work Icons/other.PNG' %}" style="max-height:100%;max-width:100%;">
                {% endif %}
              </div>
              <div class="col-sm-2" style="">
              {% if post.JobType == 'LM' %}
                <p>Lawn-Mowing</p>  
              {% elif post.JobType == 'SS' %}
                <p>Snow-Shoveling</p>  
              {% elif post.JobType == 'DW' %}
                <p>Dog-Walking</p>  
              {% elif post.JobType == 'PS' %}
                <p>Pet-Sitting</p>  
              {% elif post.JobType == 'BS' %}
                <p>Baby-Sitting</p>  
              {% elif post.JobType == 'C' %}
                <p>Cleaning</p>  
              {% elif post.JobType == 'M' %}
                <p>Moving</p>  
              {% elif post.JobType == 'O' %}
                <p>Other</p>  
              {% endif %}
              </div>
              <div class="col-sm-4" style="">
                  <p>{{ post.Description }}</p>
              </div>              
              <div class="col-sm-1" style="">
                  <p>Pay: {{ post.Pay }}</p>
              </div>
              <div class="col-sm-1" style="">
                  <!--<p>Date: {{ post.Date }}</p>-->
              </div>
              <div class="col-sm-2" style="">
                  <!--<p>{{ request.user.username }} </p> -->
              </div>
              <div class="col-sm-2" style="">
                <p> {{post.id}}</p>  
              </div>
              
          </div>
      </div>
	  {% if post.Active == 0 %}
      <div>
        {%for seeker in interested_seekers%}
        <div>
        <a class="button" href= '/hire_seeker/{{post.id}}/{{seeker.id}}/{{request.user.id}}'>
          Hire this seeker:
        </a>
        {{seeker.first_name}}
        {{seeker.last_name}}
        </div>
        {%endfor%}
      </div>
	  
	  {% endif %}
	
	  {% if post.Active == 2 %}
	  <div>
		<a class="button" href= '/generate_review/{{post.Chosen.id}}/1'>
			Review the seeker
        </a>
	  </div>
	  {% endif %}
	  
              <p></p>
              <a href='/all_jobs_creator/all_jobs/'>Back to all jobs</a>
              
              <!-- </div> -->
            </div>

            
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>