{% load staticfiles %}
<!doctype html>
<html lang="en">
<style>
#content {
  float: right ;
  width: 80% ;
}
#navbar {
  float: right;
  width: 20%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 300px 300px 300px;
  grid-gap: 10px;
  background-color: lightblue;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Big Box      Seeker</title>

</head>
<body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" content="width=device-width" style="height:8vw;">
                <img src="{% static 'images/logo2.PNG' %}" style="max-height:100%;max-width:100%;">
              
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" style="font-size: 200%; padding-left: 20%" href="../home/">Home<span class="sr-only">(current)</span></a> 
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="font-size: 200%; padding-left: 310%" href="#">Seeker<span class="sr-only">(current)</span></a> 
                    </li>
                  </ul>
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" style="max-height:200%;max-width:200;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Username
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile">Account</a>
                        <a class="dropdown-item" href="/login">Sign Out</a>
                      </div>
                    </div>
                </div>
          </nav>
          <div class="padding" style="padding-top: 9%"></div>
          <div id="container">
            <div id="content">
              <div class="grid-container" style="background-color:lightblue; height:1000px;width:700px; align-content: center">
                <div class="Job A">Job A</div>
                <div class="Job B">Job B</div>
                <div class="Job B">Job C</div>
              </div>
            </div>
            <div id="navbar">
             Filters
             <br><br>
             <form>
              Maximum Distance
              <input type="number" name="max_distance" min="1" max="10000">
              <br><br>
              Job Type
              <select name="Job Type">
                <option value="lawncare">Lawn Care</option>
                <option value="dog">Dog Walking</option>
                <option value="babysitting">BabySitting</option>
                <option value="pet">Pet Care</option>
                <option value="manual labor">Manual Labor</option>
                <option value="other">Other</option>
              </select>
              <br><br>
              Minimum Wage
              <input type="number" name="min_wage" min="1" max="10000">
              <br><br>
              Maximum Wage
              <input type="number" name="max_wage" min="1" max="10000">
              <br><br>
              <button type="submit" value="Submit">Apply</button>
              <button type="reset" value="Reset">Reset</button>
             </form>   
            </div>
          </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>