{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	  <link rel="stylesheet" href="{% static 'css/signin.css' %}">

  </head>


  <body>
    {% block content %}
    <form class="form-signin" method="post">
      <div class="text-center">
        <img src="{% static 'images/logo.PNG' %}" alt="sturgeon" class="img-responsive center-block" />
      </div>
    
      <img class="mb-4" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
      <h1 class="h3 mb-3 font-weight-normal">Enter your email below.</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-secondary btn-block">Submit</button>
  </form>
{% endblock %}
</body>