{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/createAccount.css' %}">

    <title>Big Box - Create Account</title>
  </head>
  <body >
      <div class="blank_space"></div>
      <div class="center_div" id="logo">
        <img src="{% static 'images/logo2.PNG' %}">
      </div>

      <form class="center_div" name="inputs" id="inputs" method="POST">
        <div class="form-group">
          <label for="firstNameInput" id="firstNameText">First Name</label>
          <input type="firstName" class="form-control" id="firstNameInput" placeholder="Ex: John">
        </div>
        <div class="form-group">
          <label for="lastNameInput" id="lastNameText">Last Name</label>
          <input type="lastName" class="form-control" id="lastNameInput" placeholder="Ex: Doe">
        </div>
        <br>
        <div class="form-group">
          <label for="ageInput" id="ageText">Age</label>
          <input type="age" class="form-control" id="ageInput" placeholder="Ex: 21">
        </div>

        <br>

        <div class="form-group">
          <label for="emailInput" id="emailText">Email</label>
          <input type="email" class="form-control" name="emailInput" id="emailInput" placeholder="Ex: John_Doe@mail.com">
        </div>

        <br>

        <div class="errorMessage" id="errorPassword" style="display:none">
            <p>Passwords Do Not Match - You Suck</p>
        </div>

        <div class="form-group">
          <label for="passwordInput" id="passwordText">Password</label>
          <input type="password" class="form-control" id="passwordInput" aria-describedby="password" placeholder="Ex: Password1234">
        </div>
        <div class="form-group">
            <label for="passwordCheckInput" id="passwordCheckText">Confirm Your Password</label>
            <input type="password" class="form-control" id="passwordCheckInput" aria-describedby="password" placeholder="Ex: Password1234">
            <small id="passwordCheck" class="form-text text-muted">If we steal your password, you're legally allowed to leave.</small>
          </div>
      

      <br>

      <div class="errorMessage" id="errorOverall" style="display:none">
          <br>    
          <p>You messed up somewhere. What an idiot.</p>
      </div>
      
      <br>

      <div class="buttons center_div">
        <div class="btn1">
          <button onclick="badOverall()" type="button" class="btn btn-secondary" id="createAccountButton">Create Account</button>
        </div>
        <div class="btn2">
          <a href="/home">
            <button type="button" class="btn btn-secondary" id="createCancelButton">Cancel</button>
          </a>
        </div>
      </div>

    </form>

      <br>
      <br>
      <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/createAccount.js' %}"></script>
  </body>
</html>