{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/updateAccount.css' %}">
    
    <title>BigBox - Generate Report</title>
  </head>
  <body>
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" content="width=device-width" style="height:8vw;">
                <img src="{% static 'images/logo2.PNG' %}" style="max-height:100%;max-width:100%;">
          
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="font-size:16px">
                      <a class="nav-link" style="font-size: 200%; padding-left: 20%" href="/home_creator">Home<span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" style="max-height:200%;max-width:200; font-size:16px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.username }}
                      </button> 
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size:16px">
                        <a class="dropdown-item" href="/profile">Account</a>
                        <a class="dropdown-item" href="/login">Sign Out</a>
                      </div>
                    </div>
                </div>
          </nav>
          <div class="padding" style="padding-top: 5%"></div>

		  
      <div class="blank_space"></div>
    

      <br>
      <br>

        <br>

        <label for="firstNameInput" id="firstNameText">Detail the reason for your report below.</label>
        <div class="row">
          <form class="" name="inputs" id="inputs" method="POST">
            {% csrf_token %}
            <div class="form-group col-xs-6">
              <textarea name="details" type="firstName" class="form-control" id="firstNameInput" placeholder="Description"></textarea>
            </div>
          

            <div class="btn1 col-xs-6">
                <button onclick="" type="submit" class="btn btn-secondary" id="updateFirstNameButton">Send Report</button>
              </div>
          </form> <!--The form needs to contain the submit button. However the submit button looks out of place on the page.-->
        </div>

        

        <br>

       

      <div class="errorMessage" id="errorOverall" style="display:none">
          <br>    
          <p>You messed up somewhere. What an idiot.</p>
      </div>
      
      <br>

      <div class="buttons center_div">
        <div class="btn1">
		<a href="/profile">
                      <button type="button" class="btn btn-secondary" id="createAccountButton">Cancel</button>
		</a>

        </div>
      </div>

      <br>
      <br>
      <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="updateAccount.js"></script>
  </body>
</html>