{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ request.user.username }}'s Profile</title>

    <!-- Bootstrap CSS -->


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
			
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	
  </head>
  <body>
  
  {% if user_info == None %}
	No such user exists.
	
  {% else %}

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" content="width=device-width" style="height:8vw;">
                <img src="{% static 'images/logo2.PNG' %}" style="max-height:100%;max-width:100%;">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="font-size:16px">
                      <a class="nav-link" style="font-size: 200%; padding-left: 20%" href="/home_seeker">Home<span class="sr-only">(current)</span></a>
                    </li>
									</ul>
									{% if request.user.profile.isNotified %}
                  <a href="/all_jobs_seeker/accepted_jobs/" style=" width:8%;"><img src="{% static 'images/noteRed.png' %}" style="height:50%;width:50%;"></a>
                  {% endif %}
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" style="max-height:200%;max-width:200; font-size:16px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.username }}
                      </button> 
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size:16px">
                        <a class="dropdown-item" href="/profile/?username={{ request.user.username }}">Account</a>
                        <a class="dropdown-item" href="/login">Sign Out</a>
                      </div>
                    </div>
                </div>
          </nav>
          <div class="padding" style="padding-top: 8.2%"></div>
  
 
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">


<div class="container">


	<div class="row">
		<div class="col-md-4">
			<div class="container">
				{% if user_info.profile.Portrait %}
					<!--removes the Main part of the url to make this work-->
					<img src="{{ user_info.profile.Portrait.url|slice:"4:" }}" class="img-circle"  width="304" height="304">
				{% else %}
					<img src="{% static 'images/profilepic.png' %}" class="img-circle"  width="304" height="304">
				{% endif %}
			</div>
		</div>
		
		<div class="col-md-8">
			<div class="well profile" style="font-size:26px">
				<div class="name" style="font-size:36px">
					<p>{{user_info.first_name}} {{user_info.last_name}} </p>
				</div>
				<p><strong>Username: </strong> {{user_info.username}} </p>
				<p><strong>Description: </strong> {{user_info.profile.Description}} </p>
				<p><strong>Preferred Jobs:</strong>
					{% if user_info.seeker.PrefType %}
						<span class="tags">{{user_info.seeker.get_pref_job_type}}</span>
					{% else %}
						<span class="tags">No Preference</span>
					{% endif %}
				</p>
				<p><strong>Age:</strong> {{user_info.profile.Age}} </p>
				<p>  </p>
			</div>
		</div>	
	</div>

	<div class="row">
	
	<div class="col-md-7">
	
	{% if num_reports == 0 %}
		<img src="{% static 'images/rategood.png' %}" title="User has No Reports!" width="20" height="20">
		
	{% elif num_reports < 3 %}
		<img src="{% static 'images/ratemedium.png' %}" title="User has some reports." width="20" height="20">
	
	{% else %}
		<img src="{% static 'images/ratebad.png' %}" title="User has many reports..." width="20" height="20">

	{% endif %}
		<img src="{% static 'images/schoolverified.png' %}" title="User has a verified school email!" width="20" height="20">

	</div>
	
		<div class="col-md-3">
			<div class="button">
				<form action="/all_jobs_creator/all_jobs">
					<button type="submit" class="btn btn-primary btn-lg btn-block">View my Job Listings</button>
				</form>
			</div>
		</div>
		<div class="col-md-2">
			<div class="button">
			{% if user_info.username == request.user.username %}
				<a href="/update_account">
				<button type="button" class="btn btn-primary btn-lg btn-block">Edit Account Info</button>
				</a>
			{% else %}
				<a href="/generate_report/?username={{user_info.username}}">
				<button type="button" class="btn btn-danger btn-sm btn-block">Report User</button>
				</a>
			{% endif %}
			</div>
		</div>
	</div>
	
	<div class="row"><p></p></div>
	
	<div class="row" style="font-size:22px">
		<div class="col-md-6">
			<p>Reviews of {{user_info.username}} (as Worker): </p>
			<div class="well well-lg">
					<div class="col-md-11">
						{% if seekerScore == -1 %}
						<p>No Reviews</p>
						{% elif seekerScore >= 5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						{% elif seekerScore >= 4.5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						{% elif seekerScore >= 4 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif seekerScore >= 3.5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif seekerScore >= 3 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif seekerScore >= 2.5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif seekerScore >= 2 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif seekerScore >= 1.5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif seekerScore >= 1 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif seekerScore >= 0.5 %}
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% else %}
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% endif %}
					</div>

					<div class="padding" style="padding-top: 9.5%"></div>
			</div>
		</div>
		
		<div class="col-md-6">
			<p>Reviews of {{user_info.username}} (as Creator): </p>
			<div class="well well-lg">
					<div class="col-md-11">
						{% if creatorScore == -1 %}
						<p>No Reviews</p>
						{% elif creatorScore >= 5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						{% elif creatorScore >= 4.5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						{% elif creatorScore >= 4 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif creatorScore >= 3.5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif creatorScore >= 3 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif creatorScore >= 2.5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif creatorScore >= 2 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif creatorScore >= 1.5 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif creatorScore >= 1 %}
						<img src="{% static 'images/star.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% elif creatorScore >= 0.5 %}
						<img src="{% static 'images/halfstar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% else %}
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						<img src="{% static 'images/nostar.png' %}" width="70" height="70">
						{% endif %}
						</div>
					<div class="padding" style="padding-top: 9.5%"></div>
				</div>
			</div>
		</div>
	</div>
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	
	{% endif %}
  </body>
</html>
